<div class="container mt-0">
    <div class="row vh-100 align-items-center justify-content-center">
        <div class="col-auto">
<div class="my-4 text-center">
<h1 class="fw-bold text-light">Listado de productos</h1>
            {{#if products }}
                <table class="table" border="1" align="center" bordercolor="black" cellspacing="2">
                    <thead>
                        <tr class="bg-danger align-middle" align="center">
<th class="fs-4 fw-bold text-light" style="width=200px">Titulo</th>
                            <th class="fs-4 fw-bold text-light" style="width=200px">Precio</th>
                            <th class="fs-4 fw-bold text-light" style="width=200px">Imagen</th>
                        </tr>         
                            </thead>
                    <tbody>
                        {{#each products}}
                            <tr class="align-middle" align="center">
                                <th class="bg-light fs-4 text-center" style="width:200px">{{this.title}}</th>
                                <th class="bg-light fs-4" style="width:200px">{{this.price}}</th>
                                <th class="bg-light fs-4" style="width:200px"><img src="{{this.thumbnail}}" alt="{{this.title}}" style="width:100px; height:100px"/></th>   
                            </tr>
                                    {{/each}}
                    </tbody>  
                                    </table>
            {{else}}
                <h2 class="text-danger">No hay productos en el listado</h2>
                {{/if}}
</div>
                
        </div>
                </div>
                </div>

